:root {
  --primary-purple: #a729f5;
  --primary-green: #26d782;
  --primary-red: #ee5454;

  --dark-blue: #313e51;
  --medium-blue: #3b4d66;
  --gray-blue: #626c7f;
  --light-blue: #abc1e1;

  --light-gray: #f4f6fa;
  --white: #ffffff;
  --opacity: 0.5;
}

body.dark-mode {
  --background-color: #121212;
  --dark-blue: #fff;
  --medium-blue: #fff;
  --gray-blue: #fff;
  --white: rgba(59, 77, 102);
  --light-gray: rgba(49, 62, 81);
  --javascript: rgba(48, 106, 255);
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Rubik", sans-serif;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
